nina_selected_targets
WDS_targets
templates/
wds_catalog.sqlite*
observations.sqlite*
*.pyc
*.template.json
__pycache__/
.venv/
pushover_secrets.py
secrets.py
*.html
*.json
*.csv
*.backup
*.log
debug*
*.bak2
*.sqlite
test_*
venv
LogArchive
data_scan.py